
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'montserrat', sans-serif;
}

body {
	background: var(--light);
	color: var(--dark);
}
 
#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

h1 {
  font-size: 3.2em;

}


button {
  border-radius: 10px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #6A8574;
  cursor: pointer;
  transition: border-color 0.25s;
  justify-content: space-between;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

#app {
  text-align: center;
}

/*This is my css */ 
body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center; 
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #1D2824;

}

.container {
  display: flex;
  flex-direction: column;
  background-color: #283B41;
  border-radius: 8px;
  padding: 2rem;
  width: 400px;
  
}

input {
  width: 180px;
  padding: 8px;
  margin-bottom: 10px; 
}

h1 {
  padding: 10px;
}

p {
  padding: 15px;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  text-align: center;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between; 
  background-color: #6A8574;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: var(--shadow);
  margin-bottom: 1rem;
  color: white;
}


.deleteButton {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #859A93;
  border: none;
  
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
  overflow: hidden;
  padding: 10px;
}

.deleteButton svg {
width: 44%;
}
.deleteButton:hover {
background-color: #767B65;
overflow: visible;
}
.bin path {
transition: all 0.2s;
}
.deleteButton:hover .bin path {
fill: #fff;
}
.deleteButton:active {
transform: scale(0.98);
}